@import url('project-layout.css');

:root {
    --theme-primary: #2b4efe;
    --theme-secondary: #850268;
    --theme-gradient: linear-gradient(to right, var(--theme-primary), var(--theme-secondary));
    --theme-shadow: rgba(43, 78, 254, 0.2);
    --theme-accent-10: rgba(43, 78, 254, 0.1);
    --theme-accent-20: rgba(43, 78, 254, 0.2);
    --theme-accent-50: rgba(43, 78, 254, 0.5);
    --theme-accent-90: rgba(43, 78, 254, 0.9);
}