@import url('project-layout.css');

:root {
    --theme-primary: #0076d6;
    --theme-secondary: #0042be;
    --theme-gradient: linear-gradient(to right, var(--theme-primary), var(--theme-secondary));
    --theme-shadow: rgba(0, 118, 214, 0.2);
    --theme-accent-10: rgba(0, 118, 214, 0.1);
    --theme-accent-20: rgba(0, 118, 214, 0.2);
    --theme-accent-50: rgba(0, 118, 214, 0.5);
    --theme-accent-90: rgba(0, 118, 214, 0.9);
}