@import url('project-layout.css');

:root {
    --theme-primary: #0076d6;
    --theme-secondary: #00a8e8;
    --theme-gradient: linear-gradient(to right, var(--theme-primary), var(--theme-secondary));
    --theme-shadow: rgba(0, 118, 214, 0.2);
    --theme-accent-10: rgba(0, 118, 214, 0.1);
    --theme-accent-20: rgba(0, 118, 214, 0.2);
    --theme-accent-50: rgba(0, 118, 214, 0.5);
    --theme-accent-90: rgba(0, 118, 214, 0.9);
}

.extra-icon {
    color: var(--theme-primary);
}

.nav-logo img {
    border-radius: 5px;
}

.metrica-item h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}